<a href="https://colab.research.google.com/github/maanyakharbanda/Infosys-Internship/blob/main/Null_duplicate_infosys.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
import pandas as pd

In [77]:
match_data=pd.read_csv('matches.csv')

In [78]:
match_data

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [79]:
deliveries_data=pd.read_csv('deliveries.csv')

In [80]:
deliveries_data

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260915,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,AK Markram,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260916,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,AK Markram,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260917,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260918,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,Shahbaz Ahmed,VR Iyer,1,0,1,NaN,0,NaN,NaN,NaN
260919,1426312,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,Shahbaz Ahmed,SS Iyer,1,0,1,NaN,0,NaN,NaN,NaN

NULL VALUES

identifying null values

In [81]:
print(match_data.isnull().sum()) # count null values in each column

id                    0
season                0
city                 51
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

Null values way 1: fill it with some value

In [82]:
# so null values are there in city column so we will replace null values with the value of a city say Chandigarh
match_data['city']=match_data['city'].fillna('Chandigarh')

In [83]:
print(match_data.isnull().sum())
# now we can see there are no null values in the city column

id                    0
season                0
city                  0
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin        19
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

way 2: fill it with median/mean

In [84]:
# now see the result margin column has null values and it's numerical values so we can replace them with median/mean/mode
# with mean
match_data['result_margin']=match_data['result_margin'].fillna(match_data['result_margin'].mean())

In [85]:
match_data.isnull().sum()

id                    0
season                0
city                  0
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin         0
target_runs           3
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [86]:
# now see target runs also has null values and it's numerical value, so we can replace with the median/mean/mode value.
# with median
match_data['target_runs']=match_data['target_runs'].fillna(match_data['target_runs'].median())

In [87]:
match_data.isnull().sum()

id                    0
season                0
city                  0
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin         0
target_runs           0
target_overs          3
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [88]:
# now see the column target overs it's numerical value
match_data['target_overs']=match_data['target_overs'].fillna(match_data['target_overs'].mode()[0])

The mode() function in Pandas returns the most frequently occurring value(s) in a Series or DataFrame column.
If there is more than one mode (multiple values occur with the same highest frequency), it returns all of them as a Series.

In [89]:
match_data.isnull().sum()

id                    0
season                0
city                  0
date                  0
match_type            0
player_of_match       5
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                5
result                0
result_margin         0
target_runs           0
target_overs          0
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [90]:
# can use forward and backward fill for the text values
match_data['player_of_match']=match_data['player_of_match'].fillna(method='ffill')
match_data['winner']=match_data['winner'].fillna(method='bfill')

<ipython-input-90-a6539df56e3b>:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  match_data['player_of_match']=match_data['player_of_match'].fillna(method='ffill')
<ipython-input-90-a6539df56e3b>:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  match_data['winner']=match_data['winner'].fillna(method='bfill')

In [91]:
match_data.isnull().sum()

id                    0
season                0
city                  0
date                  0
match_type            0
player_of_match       0
venue                 0
team1                 0
team2                 0
toss_winner           0
toss_decision         0
winner                0
result                0
result_margin         0
target_runs           0
target_overs          0
super_over            0
method             1074
umpire1               0
umpire2               0
dtype: int64

In [92]:
match_data['method']=match_data['method'].fillna(0)

In [93]:
match_data.isnull().sum()

id                 0
season             0
city               0
date               0
match_type         0
player_of_match    0
venue              0
team1              0
team2              0
toss_winner        0
toss_decision      0
winner             0
result             0
result_margin      0
target_runs        0
target_overs       0
super_over         0
method             0
umpire1            0
umpire2            0
dtype: int64

In [94]:
print(match_data['method'].dtypes)

object

In [95]:
# we can also use interpolation method to fill the null values:
# df['column_name'] = df['column_name'].interpolate(method='linear')

DUPLICATE VALUES

In [96]:
duplicates_d=match_data[match_data['city'].duplicated()]
print(duplicates_d)

           id   season        city        date   match_type  player_of_match  \
8      335990  2007/08   Hyderabad  2008-04-24       League        YK Pathan
9      335991  2007/08  Chandigarh  2008-04-25       League    KC Sangakkara
10     335992  2007/08   Bangalore  2008-04-26       League        SR Watson
11     335993  2007/08     Chennai  2008-04-26       League         JDP Oram
12     335994  2007/08      Mumbai  2008-04-27       League     AC Gilchrist
...       ...      ...         ...         ...          ...              ...
1090  1426307     2024   Hyderabad  2024-05-19       League  Abhishek Sharma
1091  1426309     2024   Ahmedabad  2024-05-21  Qualifier 1         MA Starc
1092  1426310     2024   Ahmedabad  2024-05-22   Eliminator         R Ashwin
1093  1426311     2024     Chennai  2024-05-24  Qualifier 2    Shahbaz Ahmed
1094  1426312     2024     Chennai  2024-05-26        Final         MA Starc

                                                  venue  \
8             Rajiv Gandhi International Stadium, Uppal
9            Punjab Cricket Association Stadium, Mohali
10                                M Chinnaswamy Stadium
11                      MA Chidambaram Stadium, Chepauk
12                           Dr DY Patil Sports Academy
...                                                 ...
1090  Rajiv Gandhi International Stadium, Uppal, Hyd...
1091                   Narendra Modi Stadium, Ahmedabad
1092                   Narendra Modi Stadium, Ahmedabad
1093           MA Chidambaram Stadium, Chepauk, Chennai
1094           MA Chidambaram Stadium, Chepauk, Chennai

                            team1                  team2  \
8                 Deccan Chargers       Rajasthan Royals
9                 Kings XI Punjab         Mumbai Indians
10    Royal Challengers Bangalore       Rajasthan Royals
11            Chennai Super Kings  Kolkata Knight Riders
12                 Mumbai Indians        Deccan Chargers
...                           ...                    ...
1090                 Punjab Kings    Sunrisers Hyderabad
1091          Sunrisers Hyderabad  Kolkata Knight Riders
1092  Royal Challengers Bengaluru       Rajasthan Royals
1093          Sunrisers Hyderabad       Rajasthan Royals
1094          Sunrisers Hyderabad  Kolkata Knight Riders

                toss_winner toss_decision                 winner   result  \
8          Rajasthan Royals         field       Rajasthan Royals  wickets
9            Mumbai Indians         field        Kings XI Punjab     runs
10         Rajasthan Royals         field       Rajasthan Royals  wickets
11    Kolkata Knight Riders           bat    Chennai Super Kings  wickets
12          Deccan Chargers         field        Deccan Chargers  wickets
...                     ...           ...                    ...      ...
1090           Punjab Kings           bat    Sunrisers Hyderabad  wickets
1091    Sunrisers Hyderabad           bat  Kolkata Knight Riders  wickets
1092       Rajasthan Royals         field       Rajasthan Royals  wickets
1093       Rajasthan Royals         field    Sunrisers Hyderabad     runs
1094    Sunrisers Hyderabad           bat  Kolkata Knight Riders  wickets

      result_margin  target_runs  target_overs super_over method  \
8               3.0        215.0          20.0          N      0
9              66.0        183.0          20.0          N      0
10              7.0        136.0          20.0          N      0
11              9.0        148.0          20.0          N      0
12             10.0        155.0          20.0          N      0
...             ...          ...           ...        ...    ...
1090            4.0        215.0          20.0          N      0
1091            8.0        160.0          20.0          N      0
1092            4.0        173.0          20.0          N      0
1093           36.0        176.0          20.0          N      0
1094            8.0        114.0          20.0          N      0

                    umpire1               umpire2
8                 Asad Rauf             MR Benson
9                 Aleem Dar             AM Saheba
10                MR Benson             IL Howell
11                BF Bowden        AV Jayaprakash
12                Asad Rauf            SL Shastri
...                     ...                   ...
1090            Nitin Menon             VK Sharma
1091           AK Chaudhary              R Pandit
1092  KN Ananthapadmanabhan  MV Saidharshan Kumar
1093            Nitin Menon             VK Sharma
1094          J Madanagopal           Nitin Menon

[1059 rows x 20 columns]

In [97]:
duplicates_d = duplicates_d.drop_duplicates(subset=['city'], keep='first')

In [98]:
duplicates_d

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
8,335990,2007/08,Hyderabad,2008-04-24,League,YK Pathan,"Rajiv Gandhi International Stadium, Uppal",Deccan Chargers,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,3.0,215.0,20.0,N,0,Asad Rauf,MR Benson
9,335991,2007/08,Chandigarh,2008-04-25,League,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,183.0,20.0,N,0,Aleem Dar,AM Saheba
10,335992,2007/08,Bangalore,2008-04-26,League,SR Watson,M Chinnaswamy Stadium,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,136.0,20.0,N,0,MR Benson,IL Howell
11,335993,2007/08,Chennai,2008-04-26,League,JDP Oram,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,Kolkata Knight Riders,Kolkata Knight Riders,bat,Chennai Super Kings,wickets,9.0,148.0,20.0,N,0,BF Bowden,AV Jayaprakash
12,335994,2007/08,Mumbai,2008-04-27,League,AC Gilchrist,Dr DY Patil Sports Academy,Mumbai Indians,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,10.0,155.0,20.0,N,0,Asad Rauf,SL Shastri
15,335997,2007/08,Kolkata,2008-04-29,League,ST Jayasuriya,Eden Gardens,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,7.0,138.0,20.0,N,0,BF Bowden,AV Jayaprakash
16,335998,2007/08,Delhi,2008-04-30,League,GD McGrath,Feroz Shah Kotla,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Delhi Daredevils,runs,10.0,192.0,20.0,N,0,Aleem Dar,I Shivram
18,336000,2007/08,Jaipur,2008-05-01,League,SA Asnodkar,Sawai Mansingh Stadium,Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals,runs,45.0,197.0,20.0,N,0,RE Koertzen,GA Pratapkumar
59,392182,2009,Cape Town,2009-04-18,League,R Dravid,Newlands,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,75.0,134.0,20.0,N,0,BR Doctrove,RB Tiffin
65,392189,2009,Durban,2009-04-23,League,AB de Villiers,Kingsmead,Chennai Super Kings,Delhi Daredevils,Delhi Daredevils,bat,Delhi Daredevils,runs,9.0,190.0,20.0,N,0,BR Doctrove,SJA Taufel
69,392194,2009,Port Elizabeth,2009-04-26,League,TM Dilshan,St George's Park,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Delhi Daredevils,wickets,6.0,150.0,20.0,N,0,S Asnani,BG Jerling
76,392201,2009,Centurion,2009-04-30,League,DP Nannes,SuperSport Park,Deccan Chargers,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,6.0,149.0,20.0,N,0,GAV Baxter,AM Saheba
83,392208,2009,Johannesburg,2009-05-03,League,JH Kallis,New Wanderers Stadium,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,9.0,150.0,20.0,N,0,RE Koertzen,TH Wijewardene
84,392209,2009,East London,2009-05-04,League,MS Dhoni,Buffalo Park,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings,runs,78.0,179.0,20.0,N,0,BR Doctrove,M Erasmus
92,392217,2009,Kimberley,2009-05-09,League,S Badrinath,De Beers Diamond Oval,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,bat,Chennai Super Kings,wickets,7.0,141.0,20.0,N,0,GAV Baxter,HDPK Dharmasena
105,392230,2009,Bloemfontein,2009-05-17,League,AB de Villiers,OUTsurance Oval,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,Delhi Daredevils,runs,14.0,151.0,20.0,N,0,SS Hazare,IL Howell
127,419118,2009/10,Ahmedabad,2010-03-20,League,AA Jhunjhunwala,"Sardar Patel Stadium, Motera",Rajasthan Royals,Kolkata Knight Riders,Rajasthan Royals,bat,Rajasthan Royals,runs,34.0,169.0,20.0,N,0,RE Koertzen,RB Tiffin
129,419120,2009/10,Cuttack,2010-03-21,League,A Symonds,Barabati Stadium,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Deccan Chargers,runs,10.0,172.0,20.0,N,0,BF Bowden,M Erasmus
156,419147,2009/10,Nagpur,2010-04-10,League,RJ Harris,"Vidarbha Cricket Association Stadium, Jamtha",Deccan Chargers,Chennai Super Kings,Chennai Super Kings,bat,Deccan Chargers,wickets,6.0,139.0,20.0,N,0,HDPK Dharmasena,SJA Taufel
168,419159,2009/10,Dharamsala,2010-04-18,League,MS Dhoni,Himachal Pradesh Cricket Association Stadium,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,193.0,20.0,N,0,BF Bowden,AM Saheba
192,501215,2011,Kochi,2011-04-18,League,BB McCullum,Nehru Stadium,Kochi Tuskers Kerala,Chennai Super Kings,Kochi Tuskers Kerala,field,Kochi Tuskers Kerala,wickets,7.0,135.0,17.0,N,D/L,K Hariharan,AL Hill
234,501258,2011,Indore,2011-05-15,League,BJ Hodge,Holkar Cricket Stadium,Kochi Tuskers Kerala,Rajasthan Royals,Kochi Tuskers Kerala,field,Kochi Tuskers Kerala,wickets,8.0,98.0,20.0,N,0,PR Reiffel,RJ Tucker
256,548314,2012,Visakhapatnam,2012-04-09,League,RG Sharma,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,Deccan Chargers,Mumbai Indians,Deccan Chargers,bat,Mumbai Indians,wickets,5.0,139.0,20.0,N,0,AK Chaudhary,JD Cloete
263,548322,2012,Pune,2012-04-14,League,JD Ryder,Subrata Roy Sahara Stadium,Pune Warriors,Chennai Super Kings,Chennai Super Kings,bat,Pune Warriors,wickets,7.0,156.0,20.0,N,0,Aleem Dar,BNJ Oxenford
365,598040,2013,Raipur,2013-05-01,League,DA Warner,Shaheed Veer Narayan Singh International Stadium,Delhi Daredevils,Kolkata Knight Riders,Kolkata Knight Riders,bat,Delhi Daredevils,wickets,7.0,137.0,20.0,N,0,HDPK Dharmasena,CK Nandan
386,598061,2013,Ranchi,2013-05-15,League,MK Pandey,JSCA International Stadium Complex,Kolkata Knight Riders,Pune Warriors,Kolkata Knight Riders,field,Pune Warriors,runs,7.0,171.0,20.0,N,0,NJ Llong,K Srinath
400,729283,2014,Abu Dhabi,2014-04-18,League,GJ Maxwell,Sheikh Zayed Stadium,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,Kings XI Punjab,wickets,6.0,206.0,20.0,N,0,RK Illingworth,C Shamshuddin
531,980929,2016,Rajkot,2016-04-21,League,B Kumar,Saurashtra Cricket Association Stadium,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,10.0,136.0,20.0,N,0,K Bharatan,HDPK Dharmasena
570,981007,2016,Kanpur,2016-05-21,League,SK Raina,Green Park,Gujarat Lions,Mumbai Indians,Gujarat Lions,field,Gujarat Lions,wickets,6.0,173.0,20.0,N,0,AK Chaudhary,CK Nandan
643,1136568,2018,Bengaluru,2018-04-13,League,UT Yadav,M.Chinnaswamy Stadium,Kings XI Punjab,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,4.0,156.0,20.0,N,0,A Deshmukh,S Ravi
847,1254111,2021,Dubai,2021-09-21,League,Kartik Tyagi,Dubai International Cricket Stadium,Rajasthan Royals,Punjab Kings,Punjab Kings,field,Rajasthan Royals,runs,2.0,186.0,20.0,N,0,AK Chaudhary,MA Gough
852,1254107,2021,Sharjah,2021-09-25,League,JO Holder,Sharjah Cricket Stadium,Punjab Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Punjab Kings,runs,5.0,126.0,20.0,N,0,RK Illingworth,YC Barde
910,1304081,2022,Navi Mumbai,2022-04-23,League,Rashid Khan,"Dr DY Patil Sports Academy, Mumbai",Gujarat Titans,Kolkata Knight Riders,Gujarat Titans,bat,Gujarat Titans,runs,8.0,157.0,20.0,N,0,KN Ananthapadmanabhan,UV Gandhe
959,1359484,2023,Lucknow,2023-04-07,League,KH Pandya,Bharat Ratna Shri Atal Bihari Vajpayee Ekana C...,Sunrisers Hyderabad,Lucknow Super Giants,Sunrisers Hyderabad,bat,Lucknow Super Giants,wickets,5.0,122.0,20.0,N,0,J Madanagopal,YC Barde
960,1359485,2023,Guwahati,2023-04-08,League,YBK Jaiswal,"Barsapara Cricket Stadium, Guwahati",Rajasthan Royals,Delhi Capitals,Delhi Capitals,field,Rajasthan Royals,runs,57.0,200.0,20.0,N,0,Navdeep Singh,MV Saidharshan Kumar
1046,1426261,2024,Mohali,2024-04-09,League,Nithish Kumar Reddy,Maharaja Yadavindra Singh International Cricke...,Sunrisers Hyderabad,Punjab Kings,Punjab Kings,field,Sunrisers Hyderabad,runs,2.0,183.0,20.0,N,0,Navdeep Singh,NA Patwardhan

In [99]:
match_data["team1"].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab',
       'Delhi Daredevils', 'Mumbai Indians', 'Kolkata Knight Riders',
       'Rajasthan Royals', 'Deccan Chargers', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Gujarat Lions', 'Rising Pune Supergiants',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Lucknow Super Giants', 'Gujarat Titans',
       'Royal Challengers Bengaluru'], dtype=object)

here we can see that :
Rising Pune Supergiant and Rising Pune Supergiants
and same for pune and same for Banglore and same for Punjab and same for gujarat and same for Delhi and same for hyderabad

In [100]:
match_data['team1']=match_data['team1'].replace('Rising Pune Supergiant','Rising Pune Supergiants')
match_data['team1']=match_data['team1'].replace('Delhi Daredevils','Delhi Capitals')
match_data['team1']=match_data['team1'].replace('Gujarat Titans','Gujarat Lions')
match_data['team1']=match_data['team1'].replace('Punjab Kings','Kings XI Punjab')
match_data['team1']=match_data['team1'].replace('Pune Warriors','Rising Pune Supergiants')
match_data['team1']=match_data['team1'].replace('Royal Challengers Bengaluru','Royal Challengers Banglore')
match_data['team1']=match_data['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')

In [101]:
match_data["team1"].unique()

array(['Royal Challengers Bangalore', 'Kings XI Punjab', 'Delhi Capitals',
       'Mumbai Indians', 'Kolkata Knight Riders', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Chennai Super Kings',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Lucknow Super Giants', 'Royal Challengers Banglore'], dtype=object)

In [102]:
match_data["team2"].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Deccan Chargers',
       'Kings XI Punjab', 'Delhi Daredevils', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Sunrisers Hyderabad',
       'Rising Pune Supergiants', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Delhi Capitals', 'Punjab Kings',
       'Gujarat Titans', 'Lucknow Super Giants',
       'Royal Challengers Bengaluru'], dtype=object)

In [103]:
match_data['team2']=match_data['team2'].replace('Rising Pune Supergiant','Rising Pune Supergiants')
match_data['team2']=match_data['team2'].replace('Delhi Daredevils','Delhi Capitals')
match_data['team2']=match_data['team2'].replace('Gujarat Titans','Gujarat Lions')
match_data['team2']=match_data['team2'].replace('Punjab Kings','Kings XI Punjab')
match_data['team2']=match_data['team2'].replace('Pune Warriors','Rising Pune Supergiants')
match_data['team2']=match_data['team2'].replace('Royal Challengers Bengaluru','Royal Challengers Banglore')
match_data['team2']=match_data['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')

In [104]:
match_data["team2"].unique()

array(['Kolkata Knight Riders', 'Chennai Super Kings', 'Rajasthan Royals',
       'Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Kings XI Punjab', 'Delhi Capitals', 'Mumbai Indians',
       'Kochi Tuskers Kerala', 'Rising Pune Supergiants', 'Gujarat Lions',
       'Lucknow Super Giants', 'Royal Challengers Banglore'], dtype=object)

In [105]:
print(match_data["venue"].nunique())

58

In [106]:
print(match_data["city"].nunique())

36

In [107]:
print(match_data["team1"].nunique())

13

In [108]:
print(match_data["team2"].nunique())

13